.App {
  background-image: url(world-line-map.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vw;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.NavBar {
  background-color: teal;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: red;
  padding-right: 20px;
  padding-left: 20px;
  font-size: larger;
  margin: 10px;
  background-color: white
}

.pop-icon {
  background-color: royalblue;
  border-radius: 5px;
  border: saddlebrown;
  padding-left: 10px;
  padding-right: 10px;
  width: 175px;
  display: inline-block;
  align-content: center;
  margin: 10px;
}

.country_card {
  background-color: royalblue;
  border-radius: 5px;
  border: saddlebrown;
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  display: inline-block;
  align-content: center;
  margin: 10px;
}

.flag_card {
  background-color: yellowgreen;
  border-radius: 5px;
  border: saddlebrown;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height:130px;
  display: inline-block;
  align-content: center;
  margin: 10px;
}

.capital_card {
  background-color: orange;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
}

.capital_card_flag {
  max-width: 95%;
  max-height: 120px;
  margin-top: 5px;
}

.quiz-menu {
  display: "inline-block";
  width: 70px;
  padding: 12px;
  margin: 10px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.quiz.page {
  margin: 10px;
}

.menu-icon {
  background-color: white;
  width: fit-content;
  
}

.quiz-tv {
  background-color: yellow;
  margin: 30px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

