.App {
  background-image: url(world-line-map.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vw;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flag-quiz-container {
  background-color:#eeeeee;
  display:inline; 
}

#flag-quiz-buttons li{
  display: inline;
}

.flag-image {
  border: 3px solid;
  border-radius: 3px;
}

.flag-button {
  background-color: lightgray;
  color: black;
}

.tab-header {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  margin: 15px;
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  border: 3px solid;
  box-shadow: 5px 5px 5px black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pop-icon {
  background-color: white;
  border-radius: 5px;
  border: 3px solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
  margin: 10px;
}

.country_card {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 5px solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  height: 650px;
  display: inline-block;
  align-content: center;
  margin: 10px;
}

.flag_card {
  border-radius: 5px;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  height: 140px; 
  width: 210px;
  align-content: center;
  
}

.capital_card {
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  align-content: center;
}

.capital_card_flag {
  max-width: 95%;
  max-height: 120px;
  margin-top: 5px;
}

.quiz-menu {
  display: "inline-block";
  width: 70px;
  padding: 12px;
  margin: 10px;
  color: white;
  background-color: #609240;
  border-radius: 5px;
}

.quiz.page {
  margin: 10px;
}

.menu-icon {
  background-color: white;
  width: fit-content;
  padding-left: 25px;
  border-top-left-radius: 25px;
  
}

.quiz-tv {
  background-color: white;
  margin: 30px;
  padding: 30 px;
  border-radius: 25px;
  border: 3px solid;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

